.link {
    color: rgb(74, 93, 188);
}

.container-fluid {
    margin: 40px;
}

.domain-card :hover {
    cursor: pointer;
}

.card-selected {
    background-color: red;
    color: red;
}

.project-register-btn{
    float: right;
    margin-bottom: 20px;
}